body{
    box-sizing: border-box;
    padding: 10px;
    background-color: #d9dbde;
}
.h-color{
    background-color: #d9dbde;
    
}
.details{
    font-size: 20px;
}

.details-color{
    color: #848785;
}

.course-details{
    color: #848785;
    font-size: 13px;
}

.add-shadow{
    box-shadow: 2px 2px 5px #888888;
}
.badge-secondary{
    color: #fff;
    background-color: #6c757d;
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}